
#welcome ul li, #security ul li{
    padding: 5px 0;
}
.iosButton,.androidButton {
    height: 54px;
}


@media screen and (min-width: 440px) {
    .iosButton,.androidButton {
        height: 66px;
    }
    .iosButton img,.androidButton img{
        height: 100%;
    }
}

.login-btn-devider{
    height: 1px;
    width: 44%;
    background-color: var(--ion-color-step-950);
}
.buy-nft-btn{
    /* border:  1px solid var(--ion-color-step-950); */
    /* border-radius: 5px; */
    /* color: var(--ion-text-color); */
    text-transform: none;
}
.login-right-side-wrapper{
    background-color: #e9e9e9;
    
}
.title-text{
    color: #222428;
}

.ripple-btn:hover {
    background-color: #2a1a6d;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    transition: background-color 0.4s ease, box-shadow 0.4s ease, transform 0.3s ease;
}

.glow-effect {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(193, 193, 193, 0.463);
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
    animation: zoom-pulse 1s ease-in-out forwards;
}

@keyframes zoom-pulse {
    25% {
        transform: scale(2);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}